@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald Bold.woff") format("woff"), url("fonts/Oswald Bold.eot") format("embedded-opentype"), url("fonts/Oswald Bold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Oswald";
   src: url("fonts/Oswald Regular.woff") format("woff"), url("fonts/Oswald Regular.eot") format("embedded-opentype"), url("fonts/Oswald Regular.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "FC Minimal Regular";
   src: url("fonts/FC Minimal Regular.woff") format("woff"), url("fonts/FC Minimal Regular.eot") format("embedded-opentype"), url("fonts/FC Minimal Regular.ttf") format("truetype"), url("fonts/FC Minimal Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}